.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: white;
  opacity: 1;
  transition-duration: 0.5s;
  transition-property: visibility, opacity;
}

.wrapper.loaded {
  visibility: hidden;
  opacity: 0;
}
